﻿body {
    
}

.form-control {
    border-radius: 0px;
}

/*General row styles*/
.row {
  margin-right: 0px;
  margin-left: 0px;
}
#br1 {
  background-color: rgb(220,220,220);
  font-size: 1px;
}

/*Custom Font Sizes*/
.big {
  font-size: 300%;
}
.small {
  font-size: 10px;
}

/*Custom Border Styles*/
.border-left {
  border-left: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border-right {
  border-right: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}
.border {
  border: solid;
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220,220,220);
}

/*Custom Button Styles*/
.btn {
  border-radius: 0;
}

.page        {
    bottom:0; 
    position:absolute; 
    top:0;  
    width:100%; 
}
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.95); }
}
.ng-enter {
    animation: scaleUp 0.2s both ease-in;
}
.ng-hide-remove {
    animation: scaleUp 0.2s both ease-in;
}

.content,
#app {
    height: 100%;
}

#app .win-splitviewpanetoggle {
    float: left;
    cursor: default;
}

/* SplitView pane content style*/
#app .header {
    white-space: nowrap;
}

#app .title {
    font-size: 25px;
    left: 50px;
    margin-top: 6px;
    vertical-align: middle;
    display: inline-block;
}

#app .nav-commands {
    margin-top: 6px;
    cursor: default;
}

.win-splitviewcommand-button {
    background-color: transparent;
    cursor:default;
}
.win-splitviewcommand-button:hover{
    cursor:default;
}
#app .win-splitview-pane-closed .win-splitviewcommand-label {
    /*  Make sure pane content doesn't scroll if 
    SplitViewCommand label receives focus while pane is closed.
    */
    visibility: hidden;
    cursor: default;
}

/*SplitView content style*/
#app .win-splitview-content {
    background-color: rgb(23,23,23);
    color: white;
}