﻿body {
  /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
}

#title {
	background-color: rgb(197,17,9);
	color: #fff;
    padding: 20px;
}

#content {
    background-color: rgb(210,210,210);
    height: 100vh;
}

#days {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

#activity {
    padding:25px;
}

#upnext {
    padding:35px;
    background-color: rgb(40,40,40);
}

#routine {
    padding:3%;
    padding-right: 4%;
    background-color: rgb(0,0,0);
    height: 100vh;
    color: white;
}
#routine tr:hover {
    background-color: rgb(23,23,23);
}
#dayTabPane {
    padding: 0;
    margin: 0;
    background-color: rgb(23,23,23);
    color:white;
}

#dayTab {
    padding: 4%;
    padding-left: 10%;
}
#dayTab:hover {
    background-color: rgba(197,17,9,0.4);
}

#addActivityPane {
    padding: 3%;
    padding-right: 5%;
}

#titleBox {
    width: 100%;
    margin-top: 1%;
    background-color: rgb(51,51,51);
    color: white;
}

#descriptionBox {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    background-color: rgb(51,51,51);
    color: white;
}

#routineContent {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100vh;
}

#timeTable {
    padding: 3%;
    padding-right: 5%;
}
#timeTable tr:hover {
    background-color: rgb(23,23,23);
}
#addButtonPane {
    padding: 4%;
    padding-left: 10%;
}
#addButtonPane:hover {
    background-color: rgba(197,17,9,0.4);
}

#addActivityButton {
    background-color: rgb(41,41,41);
    color: #fff;
    border-color: rgb(80,80,80);
    border-width: 3px;
}
#addActivityButton:hover {
    border-color: rgb(100,100,100);
    border-width: 3px;
}