﻿<div class="contenttext" id="title">
    <h2 class="win-h2">Help</h2>
</div>
<div class="row">
    <div class="col-lg-9">
        <div class="contenttext">

        </div>
    </div>
    <div class="col-lg-3" style="margin:0;padding:0;background-color:rgb(0,0,0);height:100vh">
        <div class="contenttext" style="background-color:rgb(40,40,40);padding:30px"><h2 class="win-h2">About</h2></div>
        <div class="contenttext" style="padding:30px">
            <img class="img-fluid" src="../images/logo.png" /><br />
            <h3 class="win-h3">TimeSync</h3>
            <p class="muli">
                Version 1.0.0
            </p>
        </div>

    </div>
</div>