﻿<div class="contenttext" id="title">
    <h2 class="win-h2">{{day}}</h2>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="contenttext" id="activity">
            <h2 class="win-h2">{{currentActivity}}</h2><br />
            <h4 class="win-h4">{{currentActivityTimeRange}}</h4><br />
            <h5 class="win-h5">{{currentActivityDescription}}</h5><br />
            <p class="muli">

            </p>
        </div>
    </div>
    <div class="col-lg-9" style="margin:0;padding:0;">
        <div class="contenttext" id="upnext">
            <h3 class="win-h3">Up Next</h3><br />
            <p class="muli">
                {{nextActivity}}
            </p>
        </div>
        <div class="contenttext" id="routine">
            <h3 class="win-h3">Today's Routine</h3><br />
            <table class="table table-hover muli">
                <tbody ng-repeat="activity in routine.jsonData[day].activities">
                    <tr>
                        <td>{{activity.title}}</td>
                        <td>{{activity.start}}</td>
                        <td>{{activity.finish}}</td>
                        <td>{{activity.details}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 