﻿<div class="contenttext" id="title">
    <h2 class="win-h2">Routines</h2>
</div>
<div class="row">
    <div class="col-lg-3" id="dayTabPane">
        <div class="contenttext" id="dayTabs">
            <div ng-repeat="day in days" ng-click="showDayRoutine(day)">
                <h3 id="dayTab" class="win-h3">{{day}}</h3>
            </div>
        </div>
    </div>
    <div class="col-lg-9" id="routineContent">
        <div class="contenttext" id="timeTable" ng-show="showroutine">
            <h2 class="win-h2">{{clickedDay}} <button class="pull-lg-right btn btn-primary" id="addActivityButton" ng-click="showAddRoutineForm(clickedDay)" style="margin-top:1%">Add Activity</button> </h2>
            <p class="muli">Routine</p><hr />
            <table class="table muli">
                <tbody ng-repeat="activity in routine.jsonData[clickedDay].activities track by $index">
                    <tr>
                        <td>{{activity.title}}</td>
                        <td>{{activity.start}}</td>
                        <td>{{activity.finish}}</td>
                        <td>{{activity.details}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <div class="contenttext" id="addActivityPane" ng-show="showAddRoutine">
            <h2 class="win-h2">Add Activity <button class="pull-lg-right btn btn-primary" id="addActivityButton" ng-click="saveActivity(clickedDay,activityTitle,activityDetails)" style="margin-top:1%;margin-left:1%">Save</button> <button class="pull-lg-right btn btn-primary" ng-click="showDayRoutine(clickedDay)" id="addActivityButton" style="margin-top:1%;margin-left:1%">Discard</button></h2>
            <p class="muli">{{clickedDay}}</p><hr />
            <h4 class="win-h4">Title</h4>
            <input class="win-textbox" ng-model="activityTitle" id="titleBox"><br /><br />
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="win-h4">Start</h4>
                    <div id="startTime"></div>
                </div>
                <div class="col-lg-6">
                    <h4 class="win-h4">End</h4>
                    <div id="endTime"></div>
                </div>
            </div><br />
            <h4 class="win-h4">Details</h4>
            <textarea rows="8" class="win-textarea" ng-model="activityDetails" id="descriptionBox"></textarea>

        </div>
    </div>
</div>