﻿@font-face {
	font-family: 'Muli';
	src: url('Muli.ttf');
}
@font-face {
	font-family: 'Josefin Sans';
	src: url('JosefinSans.ttf');
}
.muli {
	font-family: 'Muli', sans-serif;
}
.josefin {
	font-family: 'Josefin Sans', sans-serif;
}
